{% extends 'AppBundle::base.html.twig' %}
{% block body %}
    <h1>Thank you</h1>

    <p>Name: {{ payment.name }}</p>
    <p>Message: {{ payment.message }}</p>
    <p>Amount: {{ payment.amount }}</p>
    <p>Date: {{ payment.date }}</p>
    <a href="{{ returnLink }}">Return to support page</a>
{% endblock %}
